.flows.json.backup
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6173b380f85a87f4",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "url": "/test1",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 360,
        "y": 300,
        "wires": [
            [
                "2f7c187aecd5cbe5"
            ]
        ]
    },
    {
        "id": "4a442a2df5eec837",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 710,
        "y": 300,
        "wires": []
    },
    {
        "id": "2f7c187aecd5cbe5",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 1",
        "func": "msg.payload = \"CIAO\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 300,
        "wires": [
            [
                "4a442a2df5eec837"
            ]
        ]
    },
    {
        "id": "2869a3ac65d7cc9d",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 580,
        "y": 160,
        "wires": [
            []
        ]
    }
]